.page {
	padding: 10px;
}

.maeato {
	border: solid 2px;
	border-color: var(--bs-body-color);
	border-radius: 10px;
	width: 50%;
	height: 20%;
}

p {
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

figure {
    display: inline-block;
    width: 45%;
    height: 50%;
	margin-left: 30%;
	margin-right: 50%;
}

.resimg {
	display: block; 
	margin: auto;
}

table {
	width: 50%;
}