.page {
	padding: 10px;
}

img {
	width: 30%;
	height: 30%;
}

[data-color-mode=light][data-light-theme*=dark],[data-color-mode=dark][data-dark-theme*=dark] {
    --color-workflow-card-connector: var(--color-scale-gray-5);
    --color-workflow-card-connector-bg: var(--color-scale-gray-5);
    --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
    --color-workflow-card-bg: var(--color-scale-gray-7);
    --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
    --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
    --color-discussions-state-answered-icon: var(--color-scale-green-3);
    --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
    --color-notifications-button-text: var(--color-scale-white);
    --color-notifications-button-hover-text: var(--color-scale-white);
    --color-notifications-button-hover-bg: var(--color-scale-blue-4);
    --color-notifications-row-read-bg: var(--bgColor-default, var(--color-canvas-default));
    --color-notifications-row-bg: var(--bgColor-muted, var(--color-canvas-subtle));
    --color-icon-directory: var(--fgColor-muted, var(--color-fg-muted));
    --color-checks-step-error-icon: var(--color-scale-red-4);
    --color-calendar-halloween-graph-day-L1-bg: #631c03;
    --color-calendar-halloween-graph-day-L2-bg: #bd561d;
    --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
    --color-calendar-halloween-graph-day-L4-bg: #fddf68;
    --color-calendar-winter-graph-day-L1-bg: #0A3069;
    --color-calendar-winter-graph-day-L2-bg: #0969DA;
    --color-calendar-winter-graph-day-L3-bg: #54AEFF;
    --color-calendar-winter-graph-day-L4-bg: #B6E3FF;
    --color-calendar-graph-day-bg: var(--color-scale-gray-8);
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #0e4429;
    --color-calendar-graph-day-L2-bg: #006d32;
    --color-calendar-graph-day-L3-bg: #26a641;
    --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
    --color-user-mention-fg: var(--color-scale-yellow-0);
    --color-user-mention-bg: var(--color-scale-yellow-8);
    --color-dashboard-feed-bg: var(--color-scale-gray-9);
    --color-mktg-btn-shadow-outline: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-2);
    --color-marketing-icon-secondary: var(--color-scale-blue-5);
    --color-project-header-bg: var(--color-scale-gray-9);
    --color-project-sidebar-bg: var(--color-scale-gray-8);
    --color-project-gradient-in: var(--color-scale-gray-8);
    --color-project-gradient-out: rgba(22, 27, 34, 0);
    --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
    --color-checks-donut-error: var(--color-scale-red-4);
    --color-checks-donut-pending: var(--color-scale-yellow-3);
    --color-checks-donut-success: var(--color-scale-green-4);
    --color-checks-donut-neutral: var(--color-scale-gray-3);
    --color-text-white: var(--color-scale-white)
}

@media(prefers-color-scheme: light) {
    [data-color-mode=auto][data-light-theme*=dark] {
        --color-workflow-card-connector:var(--color-scale-gray-5);
        --color-workflow-card-connector-bg: var(--color-scale-gray-5);
        --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
        --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
        --color-workflow-card-bg: var(--color-scale-gray-7);
        --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
        --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
        --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
        --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
        --color-discussions-state-answered-icon: var(--color-scale-green-3);
        --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
        --color-notifications-button-text: var(--color-scale-white);
        --color-notifications-button-hover-text: var(--color-scale-white);
        --color-notifications-button-hover-bg: var(--color-scale-blue-4);
        --color-notifications-row-read-bg: var(--bgColor-default, var(--color-canvas-default));
        --color-notifications-row-bg: var(--bgColor-muted, var(--color-canvas-subtle));
        --color-icon-directory: var(--fgColor-muted, var(--color-fg-muted));
        --color-checks-step-error-icon: var(--color-scale-red-4);
        --color-calendar-halloween-graph-day-L1-bg: #631c03;
        --color-calendar-halloween-graph-day-L2-bg: #bd561d;
        --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
        --color-calendar-halloween-graph-day-L4-bg: #fddf68;
        --color-calendar-winter-graph-day-L1-bg: #0A3069;
        --color-calendar-winter-graph-day-L2-bg: #0969DA;
        --color-calendar-winter-graph-day-L3-bg: #54AEFF;
        --color-calendar-winter-graph-day-L4-bg: #B6E3FF;
        --color-calendar-graph-day-bg: var(--color-scale-gray-8);
        --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L1-bg: #0e4429;
        --color-calendar-graph-day-L2-bg: #006d32;
        --color-calendar-graph-day-L3-bg: #26a641;
        --color-calendar-graph-day-L4-bg: #39d353;
        --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
        --color-user-mention-fg: var(--color-scale-yellow-0);
        --color-user-mention-bg: var(--color-scale-yellow-8);
        --color-dashboard-feed-bg: var(--color-scale-gray-9);
        --color-mktg-btn-shadow-outline: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
        --color-marketing-icon-primary: var(--color-scale-blue-2);
        --color-marketing-icon-secondary: var(--color-scale-blue-5);
        --color-project-header-bg: var(--color-scale-gray-9);
        --color-project-sidebar-bg: var(--color-scale-gray-8);
        --color-project-gradient-in: var(--color-scale-gray-8);
        --color-project-gradient-out: rgba(22, 27, 34, 0);
        --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
        --color-checks-donut-error: var(--color-scale-red-4);
        --color-checks-donut-pending: var(--color-scale-yellow-3);
        --color-checks-donut-success: var(--color-scale-green-4);
        --color-checks-donut-neutral: var(--color-scale-gray-3);
        --color-text-white: var(--color-scale-white)
    }
}

@media(prefers-color-scheme: dark) {
    [data-color-mode=auto][data-dark-theme*=dark] {
        --color-workflow-card-connector:var(--color-scale-gray-5);
        --color-workflow-card-connector-bg: var(--color-scale-gray-5);
        --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
        --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
        --color-workflow-card-bg: var(--color-scale-gray-7);
        --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
        --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
        --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
        --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
        --color-discussions-state-answered-icon: var(--color-scale-green-3);
        --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
        --color-notifications-button-text: var(--color-scale-white);
        --color-notifications-button-hover-text: var(--color-scale-white);
        --color-notifications-button-hover-bg: var(--color-scale-blue-4);
        --color-notifications-row-read-bg: var(--bgColor-default, var(--color-canvas-default));
        --color-notifications-row-bg: var(--bgColor-muted, var(--color-canvas-subtle));
        --color-icon-directory: var(--fgColor-muted, var(--color-fg-muted));
        --color-checks-step-error-icon: var(--color-scale-red-4);
        --color-calendar-halloween-graph-day-L1-bg: #631c03;
        --color-calendar-halloween-graph-day-L2-bg: #bd561d;
        --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
        --color-calendar-halloween-graph-day-L4-bg: #fddf68;
        --color-calendar-winter-graph-day-L1-bg: #0A3069;
        --color-calendar-winter-graph-day-L2-bg: #0969DA;
        --color-calendar-winter-graph-day-L3-bg: #54AEFF;
        --color-calendar-winter-graph-day-L4-bg: #B6E3FF;
        --color-calendar-graph-day-bg: var(--color-scale-gray-8);
        --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L1-bg: #0e4429;
        --color-calendar-graph-day-L2-bg: #006d32;
        --color-calendar-graph-day-L3-bg: #26a641;
        --color-calendar-graph-day-L4-bg: #39d353;
        --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
        --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
        --color-user-mention-fg: var(--color-scale-yellow-0);
        --color-user-mention-bg: var(--color-scale-yellow-8);
        --color-dashboard-feed-bg: var(--color-scale-gray-9);
        --color-mktg-btn-shadow-outline: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
        --color-marketing-icon-primary: var(--color-scale-blue-2);
        --color-marketing-icon-secondary: var(--color-scale-blue-5);
        --color-project-header-bg: var(--color-scale-gray-9);
        --color-project-sidebar-bg: var(--color-scale-gray-8);
        --color-project-gradient-in: var(--color-scale-gray-8);
        --color-project-gradient-out: rgba(22, 27, 34, 0);
        --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
        --color-checks-donut-error: var(--color-scale-red-4);
        --color-checks-donut-pending: var(--color-scale-yellow-3);
        --color-checks-donut-success: var(--color-scale-green-4);
        --color-checks-donut-neutral: var(--color-scale-gray-3);
        --color-text-white: var(--color-scale-white)
    }
}

:root,[data-color-mode=light][data-light-theme*=light],[data-color-mode=dark][data-dark-theme*=light] {
    --color-workflow-card-connector: var(--color-scale-gray-3);
    --color-workflow-card-connector-bg: var(--color-scale-gray-3);
    --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-highlight: var(--color-scale-blue-4);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-4);
    --color-workflow-card-bg: var(--color-scale-white);
    --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
    --color-workflow-card-header-shadow: rgba(0, 0, 0, 0);
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-4);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-2);
    --color-discussions-state-answered-icon: var(--color-scale-white);
    --color-bg-discussions-row-emoji-box: rgba(209, 213, 218, 0.5);
    --color-notifications-button-text: var(--fgColor-muted, var(--color-fg-muted));
    --color-notifications-button-hover-text: var(--fgColor-default, var(--color-fg-default));
    --color-notifications-button-hover-bg: var(--color-scale-gray-2);
    --color-notifications-row-read-bg: var(--bgColor-muted, var(--color-canvas-subtle));
    --color-notifications-row-bg: var(--color-scale-white);
    --color-icon-directory: var(--color-scale-blue-3);
    --color-checks-step-error-icon: var(--color-scale-red-4);
    --color-calendar-halloween-graph-day-L1-bg: #ffee4a;
    --color-calendar-halloween-graph-day-L2-bg: #ffc501;
    --color-calendar-halloween-graph-day-L3-bg: #fe9600;
    --color-calendar-halloween-graph-day-L4-bg: #03001c;
    --color-calendar-winter-graph-day-L1-bg: #B6E3FF;
    --color-calendar-winter-graph-day-L2-bg: #54AEFF;
    --color-calendar-winter-graph-day-L3-bg: #0969DA;
    --color-calendar-winter-graph-day-L4-bg: #0A3069;
    --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L4-bg: #216e39;
    --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
    --color-user-mention-fg: var(--fgColor-default, var(--color-fg-default));
    --color-user-mention-bg: var(--bgColor-attention-muted, var(--color-attention-subtle));
    --color-dashboard-feed-bg: var(--color-scale-white);
    --color-mktg-btn-shadow-outline: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-4);
    --color-marketing-icon-secondary: var(--color-scale-blue-3);
    --color-project-header-bg: var(--color-scale-gray-9);
    --color-project-sidebar-bg: var(--color-scale-white);
    --color-project-gradient-in: var(--color-scale-white);
    --color-project-gradient-out: rgba(255, 255, 255, 0);
    --color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
    --color-checks-donut-error: var(--color-scale-red-4);
    --color-checks-donut-pending: var(--color-scale-yellow-4);
    --color-checks-donut-success: var(--fgColor-success, var(--color-success-emphasis));
    --color-checks-donut-neutral: var(--color-scale-gray-3);
    --color-text-white: var(--color-scale-white)
}

@media(prefers-color-scheme: light) {
    [data-color-mode=auto][data-light-theme*=light] {
        --color-workflow-card-connector:var(--color-scale-gray-3);
        --color-workflow-card-connector-bg: var(--color-scale-gray-3);
        --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-highlight: var(--color-scale-blue-4);
        --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-4);
        --color-workflow-card-bg: var(--color-scale-white);
        --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
        --color-workflow-card-header-shadow: rgba(0, 0, 0, 0);
        --color-workflow-card-progress-complete-bg: var(--color-scale-blue-4);
        --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-2);
        --color-discussions-state-answered-icon: var(--color-scale-white);
        --color-bg-discussions-row-emoji-box: rgba(209, 213, 218, 0.5);
        --color-notifications-button-text: var(--fgColor-muted, var(--color-fg-muted));
        --color-notifications-button-hover-text: var(--fgColor-default, var(--color-fg-default));
        --color-notifications-button-hover-bg: var(--color-scale-gray-2);
        --color-notifications-row-read-bg: var(--bgColor-muted, var(--color-canvas-subtle));
        --color-notifications-row-bg: var(--color-scale-white);
        --color-icon-directory: var(--color-scale-blue-3);
        --color-checks-step-error-icon: var(--color-scale-red-4);
        --color-calendar-halloween-graph-day-L1-bg: #ffee4a;
        --color-calendar-halloween-graph-day-L2-bg: #ffc501;
        --color-calendar-halloween-graph-day-L3-bg: #fe9600;
        --color-calendar-halloween-graph-day-L4-bg: #03001c;
        --color-calendar-winter-graph-day-L1-bg: #B6E3FF;
        --color-calendar-winter-graph-day-L2-bg: #54AEFF;
        --color-calendar-winter-graph-day-L3-bg: #0969DA;
        --color-calendar-winter-graph-day-L4-bg: #0A3069;
        --color-calendar-graph-day-bg: #ebedf0;
        --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L1-bg: #9be9a8;
        --color-calendar-graph-day-L2-bg: #40c463;
        --color-calendar-graph-day-L3-bg: #30a14e;
        --color-calendar-graph-day-L4-bg: #216e39;
        --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
        --color-user-mention-fg: var(--fgColor-default, var(--color-fg-default));
        --color-user-mention-bg: var(--bgColor-attention-muted, var(--color-attention-subtle));
        --color-dashboard-feed-bg: var(--color-scale-white);
        --color-mktg-btn-shadow-outline: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
        --color-marketing-icon-primary: var(--color-scale-blue-4);
        --color-marketing-icon-secondary: var(--color-scale-blue-3);
        --color-project-header-bg: var(--color-scale-gray-9);
        --color-project-sidebar-bg: var(--color-scale-white);
        --color-project-gradient-in: var(--color-scale-white);
        --color-project-gradient-out: rgba(255, 255, 255, 0);
        --color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
        --color-checks-donut-error: var(--color-scale-red-4);
        --color-checks-donut-pending: var(--color-scale-yellow-4);
        --color-checks-donut-success: var(--fgColor-success, var(--color-success-emphasis));
        --color-checks-donut-neutral: var(--color-scale-gray-3);
        --color-text-white: var(--color-scale-white)
    }
}

@media(prefers-color-scheme: dark) {
    [data-color-mode=auto][data-dark-theme*=light] {
        --color-workflow-card-connector:var(--color-scale-gray-3);
        --color-workflow-card-connector-bg: var(--color-scale-gray-3);
        --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
        --color-workflow-card-connector-highlight: var(--color-scale-blue-4);
        --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-4);
        --color-workflow-card-bg: var(--color-scale-white);
        --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
        --color-workflow-card-header-shadow: rgba(0, 0, 0, 0);
        --color-workflow-card-progress-complete-bg: var(--color-scale-blue-4);
        --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-2);
        --color-discussions-state-answered-icon: var(--color-scale-white);
        --color-bg-discussions-row-emoji-box: rgba(209, 213, 218, 0.5);
        --color-notifications-button-text: var(--fgColor-muted, var(--color-fg-muted));
        --color-notifications-button-hover-text: var(--fgColor-default, var(--color-fg-default));
        --color-notifications-button-hover-bg: var(--color-scale-gray-2);
        --color-notifications-row-read-bg: var(--bgColor-muted, var(--color-canvas-subtle));
        --color-notifications-row-bg: var(--color-scale-white);
        --color-icon-directory: var(--color-scale-blue-3);
        --color-checks-step-error-icon: var(--color-scale-red-4);
        --color-calendar-halloween-graph-day-L1-bg: #ffee4a;
        --color-calendar-halloween-graph-day-L2-bg: #ffc501;
        --color-calendar-halloween-graph-day-L3-bg: #fe9600;
        --color-calendar-halloween-graph-day-L4-bg: #03001c;
        --color-calendar-winter-graph-day-L1-bg: #B6E3FF;
        --color-calendar-winter-graph-day-L2-bg: #54AEFF;
        --color-calendar-winter-graph-day-L3-bg: #0969DA;
        --color-calendar-winter-graph-day-L4-bg: #0A3069;
        --color-calendar-graph-day-bg: #ebedf0;
        --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L1-bg: #9be9a8;
        --color-calendar-graph-day-L2-bg: #40c463;
        --color-calendar-graph-day-L3-bg: #30a14e;
        --color-calendar-graph-day-L4-bg: #216e39;
        --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
        --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
        --color-user-mention-fg: var(--fgColor-default, var(--color-fg-default));
        --color-user-mention-bg: var(--bgColor-attention-muted, var(--color-attention-subtle));
        --color-dashboard-feed-bg: var(--color-scale-white);
        --color-mktg-btn-shadow-outline: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
        --color-marketing-icon-primary: var(--color-scale-blue-4);
        --color-marketing-icon-secondary: var(--color-scale-blue-3);
        --color-project-header-bg: var(--color-scale-gray-9);
        --color-project-sidebar-bg: var(--color-scale-white);
        --color-project-gradient-in: var(--color-scale-white);
        --color-project-gradient-out: rgba(255, 255, 255, 0);
        --color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
        --color-checks-donut-error: var(--color-scale-red-4);
        --color-checks-donut-pending: var(--color-scale-yellow-4);
        --color-checks-donut-success: var(--fgColor-success, var(--color-success-emphasis));
        --color-checks-donut-neutral: var(--color-scale-gray-3);
        --color-text-white: var(--color-scale-white)
    }
}

.markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: 16px;
    color: inherit;
    border-left: .25em solid var(--borderColor-default, var(--color-border-default))
}

.markdown-alert>:first-child {
    margin-top: 0
}

.markdown-alert>:last-child {
    margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium, 500);
    align-items: center;
    line-height: 1
}

.markdown-alert.markdown-alert-note {
    border-left-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis))
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--fgColor-accent, var(--color-accent-fg))
}

.markdown-alert.markdown-alert-important {
    border-left-color: var(--borderColor-done-emphasis, var(--color-done-emphasis))
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--fgColor-done, var(--color-done-fg))
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis))
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--fgColor-attention, var(--color-attention-fg))
}

.markdown-alert.markdown-alert-tip {
    border-left-color: var(--borderColor-success-emphasis, var(--color-success-emphasis))
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--fgColor-success, var(--color-success-fg))
}

.markdown-alert.markdown-alert-caution {
    border-left-color: var(--borderColor-danger-emphasis, var(--color-danger-emphasis))
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--fgColor-danger, var(--color-danger-fg))
}